* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    scroll-behavior: smooth;
    background-color: #f9f9f9;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: #fff;
    color: #333;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
    height: 50px;
}

nav {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-list li a:hover {
    color: #ffcc00;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bar {
    height: 3px;
    width: 25px;
    background: #333;
    margin: 3px 0;
}

.hero {
    background: url('../images/image1.png') no-repeat center center/cover;
    background-size: cover;
    color: #fff;
    padding: 200px 0;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
}

.about {
    padding: 100px 0;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

.about-image {
    width: 45%;
    margin-right: 20px;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.about-text {
    width: 45%;
    text-align: left;
}

.about-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 16px;
    color: #555;
}

.products {
    padding: 100px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.products h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.products .product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.products .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(50% - 10px);
    max-width: 300px;
    height: auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.products .product-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
}

.products .product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.products .product-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.products .product-item p {
    font-size: 14px;
    color: #555;
}


footer {
    background: #444;
    color: #fff;
    text-align: center;
    padding: 40px 0;
    margin-top: 20px;
}

footer p {
    margin-bottom: 20px;
}

footer .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

footer .contact-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

footer .contact-info p {
    font-size: 16px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .nav-list.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-image {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .about-text {
        width: 100%;
        text-align: center;
    }

    .products .product-item {
        width: 100%;
    }
    .products .product-list {
        flex-direction: column;
        align-items: center;
    }


    footer .contact-info {
        width: 100%;
        margin-top: 20px;
    }
}

